*.aux
*.log
*.toc
*.blg
*.bbl
*.out
*.synctex.gz
*.run.xml
*.bcf
*.backup
*.kilepr
*~

main-blx.bib
main.acn
main.acr
main.alg
main.alo
main.als
main.glg
main.glo
main.gls
main.ist
main.mlo
main.mls
main.olo
main.ols
main.plo
main.pls

main.pdf
*.mtc*
*.maf
latex_out/
*.sublime-workspace